.contact{
  &__form{
    &-textarea{
      resize: none;
      height: 100px;
      width: 100% !important;
      padding: 16.5px 14px;
      
    }
    &-textfield{
      width: 100%;
      margin-bottom: 30px;
    }
  }
}